<!DOCTYPE html>
<html>
	<head>
		<meta charaset="UTF-8">
		<meta name="description" content="WalkieWorld is all about contributing to the 'common good' out there on the road.">
		<meta name="keywords" content="WalkieWorld, real-time, map, traffic, sharing road reports">
		<meta name="author" content="Hao Zhang">
		<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="../css/myStyle.css" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <!--<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>-->
		<script src="../scripts/jquery.stellar.min.js"></script>
        <script src="../scripts/jquery.waypoints.min.js"></script>
        <script src="../scripts/myjs.js"></script>
		<title>
			Free Community-based Mapping, Traffic &amp; Navigation App
		</title>
	</head>
	<body>
    <div id="navigation">
        <ul id="navBar">
            <li data-slide="1" class="current"></li>
            <li data-slide="2" class=""></li>
            <li data-slide="3" class=""></li>
            <li data-slide="4" class=""></li>
        </ul>
    </div>
    <h1 data-stellar-ratio="0" style="left: 920.5px; top: 476px; display: none;">Parallax Scrolling<br>Website</h1>
    <div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5" style="background-position: 0px 0px;">
        <div data-stellar-ratio="0.7" data-stellar-vertical-offset="-450" id="ball1" style="left: 50px; top: 165px; display: block;"></div>
        <div data-stellar-ratio="2.6" data-stellar-vertical-offset="-350" id="ball2" style="left: 1751px; top: 480px; display: none;"></div>
        <div data-stellar-ratio="0.9" data-stellar-vertical-offset="-230" id="ball3" style="left: 1491px; top: 7px; display: block;"></div>
        <div data-stellar-ratio="2.9" data-stellar-vertical-offset="-380" id="ball4" style="left: 1301px; top: 442px; display: none;"></div>
        <a class="button fa fa-arrow-down fa-5x" data-slide="2" title=""></a>
    </div>
    <div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5" style="background-position: 0px 476px;">
        <div data-stellar-ratio="2.6" data-stellar-vertical-offset="-350" id="ball2" style="display: none; left: 1751px; top: 753.6px;"></div>
        <div data-stellar-ratio="2.9" data-stellar-vertical-offset="-380" id="ball4" style="display: none; left: 1301px; top: 556px;"></div>
        <a class="button fa fa-arrow-down fa-5x" data-slide="3" title=""></a>
    </div>
    <div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5" style="background-position: 0px 952px;">
        <div data-stellar-ratio="0.7" data-stellar-vertical-offset="-450" id="ball1" style="display: none; left: 50px; top: -188.7px;"></div>
        <div data-stellar-ratio="2.6" data-stellar-vertical-offset="-350" id="ball2" style="display: none; left: 1751px; top: 553.6px;"></div>
        <div data-stellar-ratio="0.9" data-stellar-vertical-offset="-230" id="ball3" style="display: none; left: 1491px; top: -95.3px;"></div>
        <div data-stellar-ratio="2.9" data-stellar-vertical-offset="-380" id="ball4" style="display: none; left: 1301px; top: 719.4px;"></div>
        <a class="button fa fa-arrow-down fa-5x" data-slide="4" title=""></a>
    </div>
    <div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5" style="background-position: 0px 1428px;">
        <div data-stellar-ratio="0.7" data-stellar-vertical-offset="-450" id="ball1" style="display: none; left: 900px; top: 85.6px;"></div>
        <div data-stellar-ratio="2.6" data-stellar-vertical-offset="-350" id="ball2" style="display: none; left: 1751px; top: 841.6px;"></div>
        <div data-stellar-ratio="0.9" data-stellar-vertical-offset="-230" id="ball3" style="display: none; left: 500px; top: 532.9px;"></div>
        <div data-stellar-ratio="2.9" data-stellar-vertical-offset="-380" id="ball4" style="display: none; left: 1301px; top: 901.8px;"></div>
        <a class="button last fa fa-arrow-up fa-5x" data-slide="1" title=""></a>
    </div>
    </body>
</html>
